<div id="container" class="tw-flex tw-flex-col tw-w-full tw-h-full tw-p-4 tw-overflow-x-auto">
    @if(!(cartService.shoppingCart.cartItems.length ==0 && checkOutConfirmed==false)){
    @if(!checkOutConfirmed){
    <div id="stepper" class="tw-flex tw-flex-row tw-w-full tw-relative tw-items-center tw-justify-between">
        <div class=" tw-z-10 tw-w-full sm:tw-w-auto">
            <button class="btn btn-light tw-w-full sm:tw-w-auto btn-sm" (click)="selectStep(1)">
                <div class="tw-flex tw-flex-col sm:tw-flex-row tw-items-center tw-gap-2 ttw-bg-gray-50 tw-rounded-lg tw-p-2"
                    [class.text-danger]="shipInfoNextClicked && !shipInfoComp.isFormValid()">
                    <span class="badge text-bg-primary rounded-pill  tw-w-[20px] tw-h-[20px]"
                        [ngClass]="shipInfoNextClicked && !shipInfoComp.isFormValid()?'text-bg-danger':currentStep==1?'text-bg-primary':'text-bg-dark'"
                        [class.tw-opacity-50]="currentStep!=1">1</span>
                    <span>Shipping address</span>
                </div>
            </button>
        </div>
        <div class=" tw-z-10 tw-w-full sm:tw-w-auto">
            <button class="btn btn-light tw-w-full sm:tw-w-auto btn-sm" [disabled]="currentStep==1"
                [class.text-danger]="paymentInfoNextClicked && !paymentInfoComp.isFormValid()" (click)="selectStep(2)">
                <div
                    class="tw-flex tw-flex-col sm:tw-flex-row tw-items-center tw-justify-center tw-gap-2 ttw-bg-gray-50 tw-rounded-lg tw-p-2">
                    <span class="badge text-bg-primary rounded-pill  tw-w-[20px] tw-h-[20px]"
                        [ngClass]="paymentInfoNextClicked && !paymentInfoComp.isFormValid()?'text-bg-danger':currentStep==2?'text-bg-primary':'text-bg-dark'"
                        [class.tw-opacity-50]="currentStep!=2">2</span>
                    <span>Payment information</span>
                </div>
            </button>
        </div>
        <div class=" tw-z-10 tw-w-full sm:tw-w-auto">
            <button class="btn btn-light tw-w-full sm:tw-w-auto btn-sm" [disabled]="currentStep!=3"
                (click)="selectStep(3)">
                <div class="tw-flex tw-flex-col sm:tw-flex-row tw-items-center tw-gap-2  tw-rounded-lg tw-p-2">
                    <span class="badge text-bg-primary rounded-pill  tw-w-[20px] tw-h-[20px]"
                        [ngClass]="currentStep==3?'text-bg-primary':'text-bg-dark'"
                        [class.tw-opacity-50]="currentStep!=3">3</span>
                    <span>Confirmation</span>
                </div>
            </button>
        </div>
        <hr class="tw-absolute tw-w-full tw-z-0">
    </div>
    <div id="stepper-container" class="tw-relative tw-overflow-x-hidden tw-w-full tw-h-full">
        <shipping-information #shipInfoComp [shippingInfoModel]="shippingInfoModel"
            [@slideIn]="currentStep === 1 ? 'visible' : 'hidden'" (nextClicked)="addressNextClicked()"
            [hidden]="currentStep!==1"></shipping-information>
        <payment-information #paymentInfoComp [paymentInfoModel]="paymentInfoModel"
            [@slideIn]="currentStep === 2 ? 'visible' : 'hidden'" (nextClicked)="paymentNextClicked()"
            [hidden]="currentStep!==2"></payment-information>
        <checkout-confirmation #checkoutConfComp [shippingInfoModel]="shippingInfoModel"
            [paymentInfoModel]="paymentInfoModel" (confirmationClick)="onCheckOutConfirmationClick()"
            [@slideIn]="currentStep===3? 'visible':'hidden'" [hidden]="currentStep!==3"></checkout-confirmation>
    </div>

    @if(formErrorsAlertOpen){
    <ngb-alert
        class="tw-absolute tw-left-1/2 tw--translate-x-1/2 tw-z-10 shadow-sm tw-top-4 tw-m-2 sm:tw-w-[400px] tw-w-full"
        type="danger" (closed)="formErrorsAlertOpen=false">Check errors</ngb-alert>
    }
    }
    @else {
    <div class="tw-flex tw-flex-col tw-w-full tw-h-full tw-items-center tw-justify-center tw-gap-4">
        <div class="tw-opacity-70 tw-mb-5 text-success">
            <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor"
                class="bi bi-cart-check-fill" viewBox="0 0 16 16">
                <path
                    d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0m-1.646-7.646-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708.708" />
            </svg>
        </div>
        <span class="tw-text-lg tw-font-bold">Checkout confirmed with success</span>
        <button class="btn btn-dark tw-w-[300px]" [routerLink]="['/item/item-list']">Continue Shopping</button>
    </div>
    }
    }
    @else {
    <div class="tw-flex tw-flex-col tw-w-full tw-h-full tw-items-center tw-justify-center tw-gap-4">
        <div class="tw-opacity-30 tw-mb-5">
            <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor"
                class="bi bi-cart-x-fill" viewBox="0 0 16 16">
                <path
                    d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0M7.354 5.646 8.5 6.793l1.146-1.147a.5.5 0 0 1 .708.708L9.207 7.5l1.147 1.146a.5.5 0 0 1-.708.708L8.5 8.207 7.354 9.354a.5.5 0 1 1-.708-.708L7.793 7.5 6.646 6.354a.5.5 0 1 1 .708-.708" />
            </svg>
        </div>
        <span class="tw-text-lg tw-font-bold">There's no Items to checkout</span>
        <span class="tw-mt-[-20px]">Put some items in shopping cart first</span>
        <button class="btn btn-dark tw-w-[300px]" [routerLink]="['/item/item-list']">Browse the Items</button>
    </div>
    }




</div>