<div class="tw-absolute tw-top-0 tw-bg-white tw-w-full tw-h-full tw-z-40 tw-p-5 tw-flex tw-flex-col">
    <div class="tw-flex tw-flex-row tw-items-center tw-mb-4">
      <p class="tw-text-2xl tw-font-semibold">About This Project</p>
      <button class="btn rounded-pill tw-ms-auto" (click)="closeThePage()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg"
             viewBox="0 0 16 16">
          <path
            d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
        </svg>
      </button>
    </div>
  
    <div class="tw-flex-1 tw-flex tw-flex-col tw-gap-4">
      <p class="tw-text-base tw-text-gray-600">
        Welcome to the <span class="tw-font-semibold">Kasswa</span> project! This open-source e-commerce platform is a personal initiative designed to help me learn and master Angular and Angular SSR while improving my overall development skills.
      </p>
  
      <div>
        <p class="tw-font-semibold tw-text-lg">Technologies Used</p>
        <ul class="tw-list-disc tw-list-inside tw-text-base tw-text-gray-600">
          <li><span class="tw-font-semibold">Front-end:</span> Angular, Angular SSR, Bootstrap, Tailwind CSS, Jasmine, Karma, Cypress, GitLab CI/CD pipelines.</li>
          <li><span class="tw-font-semibold">Back-end:</span> Express.js, MongoDB, Jest, GitLab CI/CD pipelines.</li>
        </ul>
      </div>
  
      <div>
        <p class="tw-font-semibold tw-text-lg">Future Plans</p>
        <p class="tw-text-base tw-text-gray-600">
          As I continue to develop this project, I plan to add essential features such as, authentication, admin space for managing items and orders.
        </p>
      </div>
  
      <div>
        <p class="tw-font-semibold tw-text-lg">Get Involved</p>
        <p class="tw-text-base tw-text-gray-600">
          This project is open-source, and contributions are welcome! If you're interested in collaborating, feel free to explore the codebase on GitHub <a href="https://github.com/omdaCh/kasswa">"https://github.com/omdaCh/kasswa"</a> and share your feedback or suggestions.
        </p>
      </div>

      <div>
        <p class="tw-font-semibold tw-text-lg">More information</p>
        <p class="tw-text-base tw-text-gray-600">
          To learn more about this project take a look at this article <a href="https://medium.com/@chemakhi.imad/building-an-ai-powered-chatbot-with-angular-and-gemini-e2e123b67d5e">"Kasswa: An e-commerce Website using Angular SSR, Bootstrap, Expressjs and Mongodb"</a> in Meduim. platform.
        </p>
      </div>
    </div>
  
    <footer class="tw-mt-5 tw-text-sm tw-text-gray-500">
      &copy; 2024 Kasswa. Built for learning.
    </footer>
  </div>
  