<div class="tw-flex tw-flex-col tw-absolute tw-top-0 tw-left-0 tw-h-full tw-w-full tw-overflow-hidden">
  <header>
    <nav class="navbar navbar-expand-sm navbar-light bg-transparent">
      <button id="toggler" class="navbar-toggler order-first tw-ms-2" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation" (click)="toggleNavbar()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="nnavbar-brand tw-ms-2 tw-me-auto" [routerLink]="['/item/item-list']" aria-label="logo">
        <img src="../assets/kasswa text beside.svg" class="tw-w-[100px] tw-min-w-[100px]" alt="Kasswa logo">
      </a>
      <div class="collapse navbar-collapse tw-ms-10 tw-me-2" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed()">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/item/item-list']" [queryParams]="{ gender: 'female', age: 'adulte' }"
              (click)="collapseNavbar()">Women</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/item/item-list']" [queryParams]="{ gender: 'male', age: 'adulte' }"
              (click)="collapseNavbar()">Men</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/item/item-list']" [queryParams]="{ age: 'kids' }"
              (click)="collapseNavbar()">Kids</a>
          </li>
        </ul>
        <div class="input-group ">
          <input id="search-input" type="text" class="form-control" [(ngModel)]="search" placeholder="Search" aria-label="Search"
            aria-describedby="search-button">
          <button class="btn btn-outline-secondary" type="button" id="search-button" [routerLink]="['/item/item-list']"
            [queryParams]="{search:search}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
              viewBox="0 0 16 16">
              <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
            </svg>
          </button>
        </div>

      </div>
      <button id="cart-button" class="btn btn-icon tw-order-last tw-relative tw-me-1" type="button" [routerLink]="['/cart']">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart"
          viewBox="0 0 16 16">
          <path
            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
        </svg>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          <small id="cart-quantity">{{cartService.shoppingCart.totalQuantity}}</small>
        </span>
      </button>
      <div ngbDropdown class="d-inline-block tw-order-last tw-me-2" placement="bottom-right" display="dynamic">
        <button type="button" class="btn btn-icon" id="dropdownBasic2" ngbDropdownToggle>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-circle"
            viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
            <path fill-rule="evenodd"
              d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
          </svg>
        </button>
        <div ngbDropdownMenu class="dropdown-menu-left" aria-labelledby="dropdownBasic2">
          <button ngbDropdownItem [routerLink]="['/my-purchases']">My purchases</button>
          <button ngbDropdownItem>Connexion</button>
        </div>
      </div>
    </nav>
    <div class="tw-full tw-opacity-50">
      <hr class="hr tw-w-full hr-blurry" />
    </div>
  </header>
  <main class="tw-h-full tw-overflow-auto">
    <router-outlet/>
  </main>
  <footer>
    <div class="tw-flex tw-flex-row tw-ps-3 tw-pe-3 tw-text-gray-500">
      <p class="tw-text-sm">© 2024 Nike, Inc.</p>
      <a class="tw-text-sm tw-ms-auto" [routerLink]="['/about']">About us</a>
    </div>
   
  </footer>
</div>